<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!DOCTYPE html>
<meta charset="ISO-8859-1">
<title>FoodBox - Add New Cuisine</title>
</head>
<body>
<h1 align="center"><b>FreshBox.com</b></h1>
	<form  title="New Food" method="POST" action="saveCuisines">
		<fieldset >
  			<legend align="center">Add New Cuisine</legend>
  				
				<p align="center">Name: <input required="required" type="text" name="name" /></p>

				<p align="center"> <input type="submit" value="Submit" /></p>
		</fieldset>
	</form>
</body>
</html>